<mat-toolbar color="primary" class="main-navbar">
  <span class="logo" routerLink="/">MaGestion</span>

  <span class="spacer"></span>

  <div class="nav-links">
  @if (authService.getRole() === 'ADMIN') {
  <button mat-button routerLink="/ajouter" routerLinkActive="active-link">AjouterProduit</button>
  <button mat-button routerLink="/clients" routerLinkActive="active-link">Clients</button>
  <button mat-button routerLink="/utilisateurs" routerLinkActive="active-link">Utilisateurs</button>
}

    @if (authService.isLoggedIn()) {
      <button mat-button routerLink="/commandes" routerLinkActive="active-link">Commandes</button>

      <button mat-icon-button routerLink="/panier" class="cart-btn">
        <mat-icon [matBadge]="cartService.getItems().length"
                  matBadgeColor="warn"
                  [matBadgeHidden]="cartService.getItems().length === 0">
          shopping_cart
        </mat-icon>
      </button>

      <span class="role-chip" [ngClass]="authService.getRole() === 'ADMIN' ? 'admin-chip' : 'user-chip'">
        {{ authService.getRole() }}
      </span>

      <button mat-stroked-button color="warn" (click)="authService.logout()" class="logout-btn">
        <mat-icon>logout</mat-icon> Déconnexion
      </button>
      <button>Modifier</button>
    }
    @else {
      <button mat-button routerLink="/login">Connexion</button>
      <button mat-raised-button color="accent" routerLink="/register">Créer un compte</button>
    }
  </div>
</mat-toolbar>

<div class="container-outlet">
  <router-outlet></router-outlet>

</div>

