<nav class="navbar">
  <div class="nav-container">
    <div class="logo" routerLink="/">MaGestion</div>

    <div class="nav-links">
      @if (authService.isLoggedIn()) {
        <a routerLink="/commandes" routerLinkActive="active">Commandes</a>
        <a routerLink="/clients" routerLinkActive="active">Clients</a>

        @if (authService.getRole() === 'ADMIN') {

          <a routerLink="/utilisateurs" routerLinkActive="active">Gestion des utilisateurs</a>
        }
        <span [class]="'user-badge ' + (authService.getRole() === 'ADMIN' ? 'is-admin' : 'is-user')">
          {{ authService.getRole() }}
        </span>
        <button (click)="authService.logout()" class="btn-logout">Déconnexion</button>
      }
      @else {
        <a routerLink="/login" routerLinkActive="active">Connexion</a>
        <a routerLink="/register" routerLinkActive="active">Créer un compte</a>
      }
    </div>
  </div>
</nav>

<div class="main-content">
  <router-outlet></router-outlet>
</div>


