<div class="container" style="margin: 20px;">
  <h2>
    @if (isEditMode) { Modifier l'utilisateur {{ client.username }} }
    @else { Ajouter un nouvel utilisateur }
  </h2>

  <form (ngSubmit)="enregistrer()">
    <div style="margin-bottom: 10px;">
      <label>Nom d'utilisateur (Email) :</label><br>
      <input type="text" [(ngModel)]="client.username" name="username" required>
    </div>

    @if (!isEditMode) {
      <div style="margin-bottom: 10px;">
        <label>Mot de passe :</label><br>
        <input type="password" [(ngModel)]="client.password" name="password" required>
      </div>
    }

    <div style="margin-bottom: 10px;">
      <label>Rôle :</label><br>
      <select [(ngModel)]="client.role" name="role">
        <option value="USER">Utilisateur</option>
        <option value="ADMIN">Administrateur</option>
      </select>
    </div>

    <button type="submit" class="btn-save">
      @if (isEditMode) { Mettre à jour } @else { Créer }
    </button>
    <button type="button" (click)="this.router.navigate(['/clients'])">Annuler</button>
  </form>
</div>
